﻿      .searchBox {
    padding: 7px 10px 30px 10px;
    display: block;
    border: thin solid #000080;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    background-color: #EAF4FF;
} 
   .searchBox p label, .searchBox p input, .searchBox p select
{
	display: block;
	float: left;
	margin-bottom: 10px;
     
	/*clear:both;font-size: 90%;*/
}
 
    .searchBox p label
{
        width:300px;
      
	float: left; 
	/*width: 250px;*/
	text-align: left;
	padding-right: 20px;
	/*font-size: 90%;*/

}
 
  
    .searchBox p
{
		clear:left;
		display:block;
	padding: 0px;
	margin: 3px;
    width: 1250px;
}	
 

      /*----------------------------------------------*/
     .infoBox1 {
    padding: 7px 10px 40px 10px;
    display: block;
    border: thin solid #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    background-color: #EFEFF7;
}
    .infoBox1 p label, .infoBox1 p input, .infoBox1 p select
{
	display: block;
	float: left;
	margin-bottom: 10px;
     
	/*clear:both;font-size: 90%;*/
}
 
    .infoBox1 p label
{
        width:300px;
        font-weight:bold;
	float: left; 
	/*width: 250px;*/
	text-align: left;
	padding-right: 20px;
	/*font-size: 90%;*/

}
 
  
    .infoBox1 p
{
		clear:left;
		display:block;
	padding: 0px;
	margin: 3px;
    width: 1250px;
}	
 
 
   
.infoBox1 p input  {
     
    background-color: #F7F3F7;
  
}
/* ---------------------------------*/


      .formLayout
{
    padding: 7px 10px 35px 10px;
    display: block;
    border: thin solid #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    background-color: white;
}
 
    .formLayout p label, .formLayout p input, .formLayout p select
{
	display: block;
	float: left;
	margin-bottom: 10px;
     
	/*clear:both;font-size: 90%;*/
}
 
    .formLayout p label
{
        width:300px;
        font-weight:bold;
	float: left; 
	/*width: 250px;*/
	text-align: left;
	padding-right: 20px;
	/*font-size: 90%;*/

}
 
  
    .formLayout p
{
		clear:left;
		display:block;
	padding: 0px;
	margin: 3px;
    width: 1250px;
}	
 
 
   
.formLayout p textbox
{
	margin-left: 320px;
}
.formLayout p select
{
	/*margin-left: 320px;*/
}
.formLayout p table
{
	margin-left: 320px;
}

      .formLayoutExceptions {
    padding: 7px 10px 35px 10px;
    display: block;
    border: thin solid #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    background-color: #FFFFFF;
}


          .formLayoutExceptions p
{
		clear:left;
		display:block;
	padding: 0px;
	margin: 3px;
    width: 750px;
}	
    .formLayoutExceptions p label
{
        width:300px;
        font-weight:bold;
	float: left; 
	/*width: 250px;*/
	text-align: left;
	padding-right: 20px;
	/*font-size: 90%;*/

}
.reviewBox {
    background-color: #CCFFCC;
}
 
    /*=*/
.gridHeaderStyle {
    background-color: #546E96;
    font-weight: bold;
    color: #FFFFFF;
}


.formLayoutBoxes
{
    border: thin solid #C0C0C0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    margin-bottom: 10px;
    padding: 15px 5px 10px 5px;
}
.formLayoutBoxes p input[type="text"],.formLayoutBoxes p textarea,.formLayoutBoxes p select
{
    font-weight:bold;
    font-family:Arial ;
      font-size:small;  
} 
 
 .gridTbl
{
    border-style: none;
    background-color: #FFFFFF;
    width:auto;
}

.gridTbl th {
    /*padding: 10px;*/ /*color: #997D54;*/
    border-width: thin;
    border-color: #000000;
    border-style: solid solid solid solid;
    font-weight: bold;
    text-align: left;
    background-color: #2E4D7B;
    color: #FFFFFF;
}
.gridTbl th:hover
{

    color: #B1DBAF;

}
.gridTbl td {
    border-color: #000000;
    border-width: thin;
    border-style: solid solid solid solid;
    padding: 5px;
}
/*.gridTbl th:first-child, td:first-child {
    border-width: thin;
    border-style: solid solid solid solid;
}*/

     