﻿   


   .searchBox
{
    padding: 7px 10px 30px 10px;
    display: block;
    border: thin solid #000080;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    background-color: white;
 
    font-weight: bold;
} 
   .searchBox p label, .searchBox p input, .searchBox p select
{
	display: block;
	float: left;
	margin-bottom: 10px;
     
	/*clear:both;font-size: 90%;*/
}
 
    .searchBox p label
{
        width:300px;
      
	float: left; 
	/*width: 250px;*/
	text-align: left;
	padding-right: 20px;
	/*font-size: 90%;*/

}
 
  
    .searchBox p
{
		clear:left;
		display:block;
	padding: 0px;
	margin: 3px;
    width: 1250px;
}	
 

      /*----------------------------------------------*/
     .infoBox1 {
    padding: 7px 10px 40px 10px;
    display: block;
    border: thin solid #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    background-color: #EFEFF7;
}
    .infoBox1 p label, .infoBox1 p input, .infoBox1 p select
{
	display: block;
	float: left;
	margin-bottom: 10px;
     
	/*clear:both;font-size: 90%;*/
}
 
    .infoBox1 p label
{
        width:300px;
        font-weight:bold;
	float: left; 
	/*width: 250px;*/
	text-align: left;
	padding-right: 20px;
	/*font-size: 90%;*/

}
 
  
    .infoBox1 p
{
		clear:left;
		display:block;
	padding: 0px;
	margin: 3px;
    width: 1250px;
}	
 
 
   
.infoBox1 p input  {
     
    background-color: #F7F3F7;
  
}
/* ---------------------------------*/


      .formLayout {
    /*padding: 7px 10px 35px 10px;*/
    display: block;
    border: thin solid #808080;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    background-color: white;
    border: thin solid #C0C0C0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 5px 20px 10px;
    
}
 
    .formLayout p label, .formLayout p input, .formLayout p select
{
	display: block;
	float: left;
	margin-bottom: 10px;
    
     
	/*clear:both;font-size: 90%;*/
}
 
    .formLayout p label {
    width: 450px;
    font-weight: normal;
    float: left; /*width: 250px;*/
    text-align: left;
    padding-right: 20px; /*font-size: 90%;*/
}
 
  
    .formLayout p
{
    clear:left;
    display:block;
    font-weight:bold;
	padding: 7px 10px 5px 10px;
	margin: 3px;
    width: 980px;
}	
 
 
   
.formLayout p textbox
{
	margin-left: 320px;
}
.formLayout p select
{
	/*margin-left: 320px;*/
}
.formLayout p table
{
	margin-left: 320px;
}

      .formLayoutExceptions {
    /*padding: 7px 0px 0px 10px;*/
		padding-top:0px;
	padding-bottom:0px;
	padding-right:0px;
	padding-left:20px;
    display: block;
    border: thin solid #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
    height: auto;
    background-color: #FFFFFF;
}


          .formLayoutExceptions p
{
		clear:left;
		display:block;
padding:0px;
	margin: 3px;
    width: 980px;
}	
    .formLayoutExceptions p label
{
        width:980px;
        font-weight:bold;
	float: left; 
	/*width: 250px;*/
	text-align: left;
	padding-right: 20px;
	/*font-size: 90%;*/

}

    .formLayoutExceptions  table
{
 	padding: 7px 10px 0px 10px;
	border: none !important;
	border-collapse: separate;

}
.reviewBox {
    background-color: #CCFFCC;
}
 
    /*=*/
.gridHeaderStyle {
    background-color: #546E96;
    font-weight: bold;
    color: #FFFFFF;
}


.formLayoutBoxes
{
    border: thin solid #C0C0C0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    margin-bottom: 10px;
    padding: 15px 5px 10px 5px;
}
.formLayoutBoxes p input[type="text"],.formLayoutBoxes p textarea,.formLayoutBoxes p select
{
    font-weight:bold;
    font-family:Arial ;
    font-size:small;
       
}

  

 /**--------------------------------------------*/
  .gridTbl
{
    border-style: solid;
    border-width:thin;
    border-color: inherit;
    padding: 0px;
    margin: 0px;
    font-size: .9em;
    
}

.gridTbl th {
    border-style:  none none solid none;
    padding: 10px;
    /*color: #4E4E4E;*/
    color:black;
    background-color: #999999;
    border-bottom-width: 2px;
    text-align: left;
    /*background-color: #F2CD36;*/
    vertical-align: top;
    /*text-transform: uppercase;*/
    /*font-weight: normal;*/
    font-weight:bold;

}
.gridTbl th a
{ 
    color:#E1F6BD;    
    text-decoration:none;
 
}
 
.gridTbl td {
    border-width: thin;
    border-style: solid solid solid solid;
    padding: 2px 10px 2px 10px;
    
}

  

.gridTbl tr:nth-child(even)
{
   /*background: #F5FCEB;*/ 
}
.gridTbl tr:nth-child(odd) {
    /*background: white*/

}

 
.gridTbl th:first-child {
    /*-moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;*/
}

.gridTbl th:last-child {
   /* -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;*/
}

.gridTbl th:only-child{
    /*-moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;*/
}
.gridTbl th:last-child {
    /*-moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;*/
}


.gridtbla
{
    border-style: none;
    border-width: thin;
    border-color: inherit;
    margin-left:32px;
    width:45%;  
    font-size: .9em;
}

    .gridtbla  th
    {
         text-align: left;
          color:black ;
    }

/**========================================================================*/
.radionButtonMatrixList td
{ 
   width: 10%; 
}
.radionButtonMatrixList td label
{ 
   display:none; 
}
.checkBoxWithLinks label 
{ 
   width:0px;
}
.radionButtonMatrixList td
{
    border-width: thin;
    border-style: none none none none;
    padding: 10px;
}
/*-------------------------------------*/


