@charset "UTF-8";
/* CSS Document */
.content {
 
	min-height: 700px!important;
}

.assessForm {
	position: relative;
    display: block;
    margin: 0 10px 28px;
    padding: 20px 0;
    border-bottom: 3px solid #ccc;	
}

select {
   background-color: #0054a0;
   color: #fff;
}

em {
    font-weight: normal!important;
    color: #555;
}

.assessForm span {
	display: inline-block!important;
	width: 48%;
	font-weight: normal!important;
	position: relative;

}

.assessForm legend {
    display: inline-block!important;
    white-space: normal;
	font-weight: bold;
	float: left;
	width: 48%;
	position: relative;
}


.multipart legend:first-child {
	width: 100%;
    border-right: none;
    margin-bottom: 2em;	
	position: relative;
}

.questionGroup {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	padding: 1em;
	background-color: #fff;
	position: relative;
}

.questionGroup:nth-child(2n) {
    background-color: #f1f1f1;
}


.questionGroup > span {	
	display: inline-block;
	width: 48%;
	float: left;
	position: relative;
}

.questionGroup > label {
    margin-right: 0;
	width: 48%;
	float: left;
	position: relative;
}

.assessForm label.noBorder1, assessForm label.defined{	
    display: table!important;
	white-space: normal;
	position: relative;
	
}

label[for="rbtListOfRiskThreats"] {
   display: inline-block!important;
   width: 48%!important;
   position: relative;
   float: left;
}

