@charset "UTF-8";
/* CSS Document */

html, body {
	
	height: 100%!important;
}

body {
    counter-reset: section;
	
}


body, h1, h2, h3, h4, h5, p, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
img {
    max-width: 100%;
}
a img {
    border: none;
}
a {
    text-decoration:none;

}
a:visited {
    color: #85962A;
}
#topcontain {
    //height: 100%;
    width: 100%;
    margin:auto;
}
#titlearea {
    width: 80%;
    float: left;
    display: inline;
}
#resourcearea {
    width: 20%;
    float: right;
    display:inline;
}
.grey{
    color:#AAA;
    font-style: italic;
}
.sb-toggle-left {
    font-family: Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    text-transform:capitalize;
    list-style-type: none;
    padding-top: 8%;
    padding-left: 2%;
    cursor:pointer;
	text-indent: -99999px;
	height: 50px;
	width: 350px;
	background: url(../../../images/Assess.png) left no-repeat;
}

.left-header-img {
    font-family: Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    text-transform:capitalize;
    list-style-type: none;
    padding-top: 8%;
    padding-left: 2%;
    cursor:pointer;
	text-indent: -99999px;
	height: 50px;
	width: 350px;
	background: url(../../../images/Assess.png) left no-repeat;		
}

.not-active {
   pointer-events: none;
   cursor: default;
}

.sb-toggle-right {
    font-family: Helvetica, Arial, sans-serif;
    color: #0172b8;
    cursor:pointer;
    list-style-type:none!important;
}

.sb-slidebar {
    padding: 14px;
    color: #fff;
}

#close_slide {
    height: 50px;
    background-color:#0054A0;
}

#close_slide2 {
    height: 50px;
    background-color:#005990;
}

/*#slidecontent h3, #slidecontent2 h3 {
    padding: 5% 0 3% 5%;
    text-transform: uppercase;
    /*display: block;
    background-color: #005990;
    border-bottom: 3px solid #005284;
    border-top: 2px solid #086C9E;
}*/

/*#slidecontent h3.resources, #slidecontent2 h3.resources {
    padding: 5% 0 3% 17%;
    text-transform: uppercase;
    /*display: block;
    background-color: #005990;
    border-bottom: 3px solid #005284;
    border-top: 2px solid #086C9E;
}
*/
sb-slidebar
.resourceimg {
    background-image: url(../img/resources_icon.png);
    background-repeat:no-repeat;
}
/*#slidecontent h3.resources.resourceimg:hover, #slidecontent2 h3.resources.resourceimg:hover {
    background-image: url(../img/resources_icon-over.png);
    background-repeat:no-repeat;
}
*/
.guidanceimg {
    background-image: url(../img/guidance_icon.png);
    background-repeat:no-repeat;
}
/*#slidecontent h3.resources.guidanceimg:hover, #slidecontent2 h3.resources.guidanceimg:hover {
    background-image: url(../img/guidance_icon-over.png);
    background-repeat:no-repeat;
}
.exampleimg {
    background-image: url(../img/example_icon.png);
    background-repeat:no-repeat;
}
#slidecontent h3.resources.exampleimg:hover, #slidecontent2 h3.resources.exampleimg:hover {
    background-image: url(../img/example_icon-over.png);
    background-repeat:no-repeat;
}
#slidecontent h3 span, #slidecontent2 h3 span {
    text-transform: none;
    font-weight: normal;
    font-size: .75em;
}
#slidecontent h3:hover, #slidecontent2 h3:hover {
    background: #4CA6DB;
}
*/

#slidecontent ul, #slidecontent2 ul {
    list-style-type: none;
	margin: 1.25em 0 0 0;
}
#slidecontent li, #slidecontent2 li {
    color:#D9EDF7;
}
#slidecontent li a, #slidecontent2 li a {
    color:#C9D1E3;
    display: block;
	padding: 5%;
	width: 100%;
	background: #0054A0;
	margin: 0;
}
#slidecontent li ul li a, #slidecontent2 li ul li a {
    padding-left: 3.75em;
}

#slidecontent li a:hover, #slidecontent2 li a:hover {
    background: #f79828;
    color: #fff;
}

.closeimg {
    max-width: 30px;
    cursor: pointer;
}
ul.ximg {
    max-width: 30px;
    float:right;
    margin: 2% 2% 0 0;
}
ul.ximgl {
    max-width: 30px;
    float:left;
    margin: 2% 0% 0 2%;
}
.ximg li, .ximgl li {
    list-style-type: none;
}
.savequit {
    position:absolute;
    bottom: 0;
    width: 100%;
    background:#005990;
    padding: 9% 0;
}
ul.sq {
    width: 80%;
    margin: auto;
}
.sq li {
    list-style-type: none;
    display: inline;
    text-align:center;
    padding: 3% 2% 0 2%;
}
.sq a {
    color:#FFFFFF;
    background-color:#4ea6dc;
    padding: 6% 9%;
}
.sq a:hover {
    background: #0173B8;
}
.rthead {
    text-align:center;
    padding: 7% 0;
}
.rtheading {
}
#rems5dtool {
    min-height: 60% !important;
    margin: auto;
    position: relative;
}
#menu_row {
    min-height: 60px;
    width: 100%;
    background-color:#0054A0;
    border-bottom: 6px solid #f79828;
	padding-top: 10px;
}
#menudiv {
    width: 10%;
    float:left;
    display: inline;
}
#rightcontain {
    width: 60%;
    float:right;
    display: inline;
}
#rightmenudiv {
    width: 20%;
    float:right;
    display: inline;
    text-align:right;
}
#listdiv {
    width: 100%;
    float:left;
    display: inline;
}
#listdiv a {
    color:#efefef;
    font-size: .8em;
    font-weight:bold;
}
#listdiv a:hover {
    color:#fff;
}
.ld {
    width: 100%;
    float:right;
    display:inline;
    padding-right: 1%;
    padding-top: 1%;
    text-align: right;
}
.ld li {
    display: inline;
    padding: 0% 1%;
}

 @media only screen and (max-width : 820px) {

#menu_row {
    min-height: 120px;
}

#rightcontain {
    float: none;
    display: block;
}

#listdiv {
    display: block;
}

.ld {
    float: none;
    display:block;
    text-align: left;
    margin-left: 45px;
}
.ld li {
    display: block;
    padding: 5px;
}

    }


#step_row {
    width: 100%;
    background-color:#FFFFFF;
	display: block;
	overflow-y: overlay;
}
#step_title {
    width: 16%;
    background-color:#F79828;
    margin-bottom: 3%;
    float:left;
    display:inline;
    text-align:center;
    height: 44px;
}
#step_title h2 {
    color: #fff;
    line-height: 40px;
}
#steps {
    width: 100%;
    float: right;
    display: inline;
	margin: 0;
	padding: 0;
	text-align: center;
}
#steps ul {
    margin: 0 !important;
    padding: 0 !important;
	list-style: none;
	width: 100%;
	display: inline-flex;
		
}

#steps li:first-child a {
    border: none;
}


.stepNav {
    width: 10%;
    float: left;
    display:inline-block;
    text-align: center;
    /*background:url(../img/step_right.jpg) top right no-repeat;*/
    min-height: 35px;
	overflow: hidden;
}

.stepNav a {
    position: relative;
    display: block;
    color:#515151;
    font-weight:bold;
    width: 100%;
    height: 40px;
    margin-top: 0;
    background: #D9EDF7;
    border-left: 2px solid #fff;
	vertical-align: central;
	padding-top: 1em;
	font-size: 12px;
}

.stepNav a:hover {
    color:#fff;
    background: #f79828;
}

.stepNav a:active {
	color:#fff !important;
    background: #f79828!important;
}


.stepNav a:visited  {	
	color:#868383 !important;
    background: ##f1f1f1 !important;
}


.selectedNav {	
	color:#fff !important;
    background: #f79828 !important;
}

.visitedNav {	
	color:#868383 !important;
    background: #f1f1f1 !important;
}



/*.stepNav a:hover:after {
  position: absolute;
  display: block;
  content: "";
  border-color: #4CA6DB transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-18px;
  left:45%;
}*/

#steps .active a:hover {
    color:#fff;
    background: #4CA6DB;
}

#steps .active a:hover:after{
    position: absolute;
    display: block;
    content: "";
    border-color: #4CA6DB transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position: absolute;
    bottom:-18px;
    left:45%;
}

#steps .active a{
    color:#FFFFFF;
    background: #0072B8;
}

#steps .active a:after{
    position: absolute;
    display: block;
    content: "";
    border-color: #0072B8 transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position:absolute;
    bottom:-18px;
    left:45%;
}

#active1 .active1 {
	background: green !important;
}


.omega {
    background:none;
}
.content {
    position: relative;
    display: block;
    clear: both;
    width: 90%;
    text-align: left;
    font-size: .9em;
    color: #333;
    line-height: 1.4em;
   /* overflow-y: auto;*/
    margin: 0 auto;
    padding-bottom: 120px;
	padding-top: 3em;
	min-height: 90%;
}


@-moz-document url-prefix() { 
.content { 

min-height: 950px

 } 
} 





.content h1 {
    font-size: 1.8em;
    color: #006ebc;
    margin-top: 0;
    margin-bottom:.7em;
	font-family: 'Marcellus', serif;
	font-weight: bold;
}
.content h2 {
    font-size: 1.1em;
    margin-bottom:.7em;
}
.content h3 {
    font-size:.9em;
    margin-bottom:.3em;
}
.content p {
    margin-bottom: 1em;
}

.counter ol {
    counter-reset: item;
    margin-top: 0;
}
.counter li {
    display: block
}
.counter li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}
.counter ol.nested-zero li:first-child:before {
    content: "1.0. ";
    counter-increment: none;
}
.two-col {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
.col-half {
    position: relative;
    display: block;
    width: 100%;
}

.right {
    float: right;
}
.left {
    float: left;
}
input[type=button], input[type=submit], input[type=reset] {
    position: relative;
    display: inline-block;
    color:#fff;
    background: #0172B8;
    border: none;
    cursor:pointer;
    padding: 6px;
    font-weight: bold;
    font-size: .9em;
    outline: none !important;
}
input[type=button]:hover,input[type=submit]:hover  {
    background: #4CA6DB;
}

h1.assessTitle {
	position: relative;
	display: block;
	width: 30%;
	float:left;
	color: #fff;
	padding-left: 20px;
	text-indent: -99999px;
	height: 50px;
	background: url(../../../images/Assess.png) left no-repeat;
}

#footer {
    position:absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 100px;
    border-top: 4px solid #0172B8;
    padding-top: .5em;
	clear: both;
}
#footer p.DOEcr {
margin: 5px 0;
 font-size: 10px;
}
#logo {
    width: 25%;
    float:left;
    display:inline;
    padding-left: 1%;
    padding-bottom: 1%;
}

#footer div.Pageno {
	  position: absolute;
	  display: block;
	  text-align: center;
	  width: 100%;
	  margin: 1.5em 0 0 0;
}



#arrow_nav {
    width: 13%;
    float:right;
    display:inline;
}
#left_arrow {
    width: 30%;
    float:left;
    display:inline;
}
#right_arrow {
    width: 40%;
    float:left;
    display:inline;
}

.noClicker, .clicker {
    position: relative;
    display: block;
    padding: 6px 0;
    width: 100%;
    text-align: left;
    font-weight:bold;
}

.clicker:hover {
    cursor:pointer;
    background: #E6E6E6;
}

/*tbody tr:nth-child(odd) {
   background-color: #eee;
}*/

.symbol {
    font-size: 0.9em;
    font-family: Times New Roman;
    border-radius: 1em;
    padding: .1em .6em .1em .6em;
    font-weight: bolder;
    color: white;
    background-color: #4E5A56;
}

.icon-info { background-color: #3229CF; }
.icon-error { background: #e64943; font-family: Consolas; }
.icon-tick { background: #13c823; }
.icon-excl { background: #ffd54b; color: black; }

.icon-info:before { content: 'i'; }
.icon-error:before { content: 'x'; }
.icon-tick:before { content: '\002713'; }
.icon-excl:before { content: '!'; }

.notify {
    background-color:#e3f7fc;
    color:#555;
    border:.1em solid;
    border-color: #8ed9f6;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;
    font-size:1.1em;
    padding:10px 10px 10px 10px;
    margin:10px;
    cursor: default;
}

.notify-yellow { background: #fff8c4; border-color: #f7deae; }
.notify-red { background: #ffecec; border-color: #fad9d7; }
.notify-green { background: #e9ffd9; border-color: #D1FAB6; }

.fnRefreshSpin {
  border: 1px solid white;
  /*width:128px;
  margin: 10px;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;*/
}

.fnRefreshSpin:hover {
  border: 1px solid #ccc;
  /*width:128px;
  margin: 10px;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;*/
}

#currentPageTag{
	visibility: hidden;
	} 
	
	ul,ul li {
	
margin: 0em 1em 0em 1.5em;
	
padding: 0;
	
list-style-image: none;
	
list-style-type: square;

}

ol{
  padding: 0px;
  margin: 0em 1em 0em 1.5em;
}

#stepNav ul,ul li {
	
margin: 0em 0em 0em 0em;
padding: 0;
list-style-image: none;
list-style-type: none;

}

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
	  opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-moz-transition:    
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition:         
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 850px;
  background-color: #DFE6EB;
  color: #000;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px); 
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px); 
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px); 
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px); 
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}
  .accordion-toggle {
  cursor: pointer;
      font-family: Helvetica, Arial, sans-serif;
		}
  .accordion-content {
  display: none;
      font-family: Helvetica, Arial, sans-serif;
		}
  .accordion-content.default {
  display: none;
      font-family: Helvetica, Arial, sans-serif;
		}
  
  .reveal{
    padding-top: 5px;
    padding-bottom: 15px;
	width: auto;
	line-height: 150%;
  }
  a.bt{ 
 position:relative; 
  z-index:24; 
  color:#0172b8; 
  /*font-weight:bold; */
  text-decoration:none; 
  font-family: Helvetica, Arial, sans-serif;
  }

a.bt span{ 
display: none;
 }

a.bt:hover{ 
z-index:25; 
color: #0172b8; 
}
a.bt:hover span.thebubble{ 
display:block; 
position:absolute; 
top:0px; left:0;
padding: 5px 0 0 0; 
width:300px; 
color: #000000; 
text-align: center;
/*filter: alpha(opacity:90); 
KHTMLOpacity: 0.90; 
MozOpacity: 0.90; 
opacity: 0.90;*/
}

a.bt:hover span.top{ 
display: block; 
padding: 8px 8px 0; 
}

a.bt:hover span.middle{ 
display: block; 
padding: 5px; 
background-color: #84B537;
text-align:left;
font-size:.9em;
margin-top: 2px;
width: 68%;
color: #ffffff;
border-radius:  0px 8px 8px 8px;
-webkit-border-radius: 0px 8px 8px 8px;
-moz-border-radius: 0px 8px 8px 8px;
}

a.bt:hover span.bottom{ 
display: block; 
padding:3px 8px 10px; 
color: #000000; 
}
/*.content{
    overflow-x: hidden;
}
*/
/**
**** Added by Godfrey as part of 2.0 Major upgrade
*/
/* Users management
*/
.adminMenu{
    background-color:#eee;
    padding:4px;
    margin:10px 0px;
}

.adminMenu ul{
    list-style: none;
    list-style-type: none;
    margin:0;
    padding:0;
    position:relative;
    float:left;
}
.adminMenu ul li{
    list-style: none;
    list-style-type: none;
    margin:0;
    padding:0;
    position:relative;
    float:left;

}

.adminMenu ul a
    {
        display:inline-block;
        text-decoration:none;
        font-weight:700;
        font-size:12px;
        line-height:32px;
        padding:0 15px;
    }
.adminMenu ul a:hover{
    color:#333;
}
.adminMenu ul ul
    {
        display:none;
        position:absolute;
        top:100%;
        /*left:0;*/
        background:#fff;
        padding:0;
      z-index: 1000;
    }


.adminMenu ul li:hover
{
    background:#f6f6f6;
}

.adminMenu ul li:hover > ul
{
    display:block
}


.adminMenu ul ul li
{
    float:none;
    width:auto;
}

.adminMenu ul ul a
{
    line-height:120%;
    padding:10px 15px
}

.adminMenu ul ul ul
{
    top:0;
    left:100%
}
.required{
    color: #CC0000;
}
.info,.success,.error,.warning
{
    margin: 0px;
    padding:5px 2px 5px 25px;
    border-radius: 3px;
    box-shadow: 4px 4px #dfe1d8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -moz-box-shadow: 4px 4px #dfe1d8;
    -webkit-box-shadow: 4px 4px #dfe1d8;
}
label.error{
    z-index: 10;
    display: inline-block;
}
.error{
    border:1px solid #641f1a;
    color:#641f1a;
    background:#ffd2d4 url('../img/unchecked.gif') no-repeat;
    background-position:3px 5px;
}

button{
    margin: 0px auto;
    padding: 0px 5px;
    color: #000;
    white-space:nowrap;
    width:auto;
    overflow:visible;
    height:28px;
    background-repeat: no-repeat;
}

button em{
    vertical-align:middle;
    margin:0 2px;
    display:inline-block;
    width:16px;
    height:16px;
}

button em.leftImage{
    background-position: -96px -112px;
}

button em.rightImage{
    background-position: -64px -16px;
}

em.approve{background-image: url(../img/check_mark.png); }
em.revoke{background-image: url(../img/check_mark_cross.png);}
.approval-holder span{ width:100%; display: block; background-position: center; max-width:72px; margin: 5px 0px;}

.adminTable td{
    padding:10px;
}


.adminTable tr:nth-child(even) {background: #EEE}
.adminTable tr:nth-child(odd) {background: #CCC}

.approved_button {
  background-image: url("../img/accept.png");
  width:16px;
  height: 16px;
  display: inline-block;
  margin:-3px 5px;
}

.revoked_button{
  background-image: url("../img/check_mark_cross.png");
  width:16px;
  height: 16px;
  display: inline-block;
  margin: -3px 5px;
}

.boxed-group{
    border-radius: 3px;
    margin: 5px 15px;
}
.boxed-group h3{
    background-color: #F5F5F5;
    margin: 0px;
    border-radius: 3px 3px 0px 0px;
    border-width: 1px 1px 0px;
    border-style: solid solid none;
    border-color: #D8D8D8 -moz-use-text-color: #D8D8D8;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 9px 10px 10px;
    font-size: 14px;
    line-height: 17px;
    display: block;
}
.boxed-group-inner{
    padding: 0px;
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #D8D8D8;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #666;
    font-size: 13px;
}
.clearfix:before{
    display:table;
    content:"";
}
.clearfix:after{
    display:table;
    clear:both;content:"";
}
.boxed-group.left{
  width:25%;
  max-width: 25%;
  float: left;
}
.boxed-group.right{
  width:65%;
  max-width:70%;
  float: left;
}
.boxed-group-inner ul{
  list-style: none;
  list-style-type: none;
  margin: 0px;
}
.boxed-group-inner ul li{
  list-style-type: none;
  list-style: none;
  margin:0px;
  width: auto;
}
.boxed-group-inner ul li a, .boxed-group-inner ul li a:link,  .boxed-group-inner ul li a:visited{
  padding:10px 0px 10px 15px;
  display: block;
  width: auto;
  border-bottom: 1px solid #EEE;
  color: #0172B8;
}
.boxed-group-inner ul li a:hover{
  background-color: #F5F5F5;
}
.boxed-group-inner p{
  float: left;
  width: 48%;

}
a.current{
  color:#000 !important;
  font-weight: bold;
  border-left: 2px solid #BBB;
}
.padded-content{
  padding: 20px;
}

#loading{ z-index:10000; display:block; width:100%; height:100%; margin:0px; background-color:#999999; position:absolute; opacity: .50; /* Standard: FF gt 1.5, Opera, Safari, CSS3 */
    filter: alpha(opacity=50); /* IE lt 8 */
    -ms-filter: "alpha(opacity=50)"; /* IE 8 */
    -khtml-opacity: .50; /* Safari 1.x */
    -moz-opacity: .50; /* FF lt 1.5, Netscape */
    align-content:center; text-align:center; verticle-align:center}
#loading img{width:30px; height:30px; position:fixed; top:50%; left:50%}
#loading span{display:block;width:auto; margin-top: 35px; position:fixed; top:50%; left:50%}

fieldset {
	border: none;
}




@media only screen and (max-width : 768px) {
	
	#steps {
		display: none;
	}	

}
