@charset "UTF-8";
/* CSS Document */

p {
	padding: 0 !important;
}

fieldset.assessform {
	position: relative;
	display: block;
	width: 100%;
	padding: 2em 0;
	border-bottom: 3px solid #ccc;
}

fieldset.assessform select {
	height: 32px;
	font-size: .9em;
	color: #fff;
	background-color: #0054a0;
}

fieldset.assessform legend {
	position: relative;
	display: block;
	float: left;
	width: 48%;
	margin: 0;
	padding-right: 1em;
	/*border-right: 1px dotted #ccc;*/
	font-weight: bold;
	text-align: left !important;
}


fieldset.assessform legend > span{
	font-weight: normal!important;

}

fieldset.assessform legend em {
	font-weight: normal;
	color: #555;
}

fieldset.multiPart label {
	width: 48%;
}

fieldset.multiPart span {
	width: 45%;
}


fieldset.multiPart legend:first-child {
	width: 100%;
	border-right: none;
	margin-bottom: 2em;
}

fieldset.multiPart .questionGroup {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	padding: 1em;
	background-color: #fff;
}

fieldset.multiPart .questionGroup:last-child {
	margin-bottom: -2.3em;
}

fieldset.multiPart .questionGroup:nth-child(2n) {
	background-color: #f1f1f1;
}

fieldset.multiPart .questionGroup label {
	margin-right: 0;
}
fieldset.assessForm span {
	display: block;
	position: relative;
	width: 45%;	
}

fieldset.assessform label, fieldset.assessform input {
	margin-right: 1em;
	float: left;
}

fieldset.assessform input[type=radio] {
	margin-right: 1em;
}


fieldset.assessForm select {
	display: block;
	position: relative;
	float: left;
	width: 38%;
	margin-left: 2%;
	border-left: 1px solid #ccc;
}

fieldset.assessForm label.noBorder1, fieldset.assessForm label.defined {
	font-style: italic;
	margin-top: 1em;
	margin-bottom: -2.3em;
	font-size: .9em;
	color: #545252;
	padding: 1em;
	background: #D9EDF7;
	width: 100%;
}

fieldset.assessForm label.defined {
	background: none;
	width: auto;
	padding-left: 0;
	padding-bottom: 1em;
	margin-bottom: 0;
}

.prevNext {
    display: block;
    margin: 20px 0;
    position: relative;
    width: 100%;
    text-align: right;
}


.prevNext > input {
	display: inline-block;
	margin: 0 0 0 1em;
}

.ValidationSummary {
    padding: 0;
    position: relative;
    width: 100%;
    text-align: right;
}



 @media only screen and (max-width : 480px) {
	 
	.ValidationSummary {
		text-align: left;
	} 

  }

input[type=button], input[type=submit], input[type=reset] {
	background-color: #0054a0;
}

.PopUp {
	display: none;
	visibility: hidden;
	height: 0;
}


.leftAlign {
	float: left;
}


/*#ContentMain_btnNext {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 45px 0 45px 77.9px;
	border-color: transparent transparent transparent #0054A0;
	background-color: transparent;
	-webkit-transform:rotate(360deg);
}

#ContentMain_btnNext::after {
	content: "NEXT";
	color: yellow;
	padding-left: -50px;
	font-size:18px;
}
*/