﻿@charset "UTF-8";
/* CSS Document */

html, body, form, #wrap {
	height: 100%;
}

body {
	font-size: .85em;
}

.banner_head {
	position: relative;
	display: block;
	background: url(../images/headerbg.png) top left repeat-x;
	width: 100%;
	height: 138px;
	border-top: 6px solid #006EBC;
	*z-index: 10;
}

.banner_head img {
	position: relative;
	display: block;
	margin: 0 auto;
}

.bannerWrap {
	position: relative;
	display: block;
	width: 1024px;
	margin: auto;
}

.bannerWrap h1 {
	position: relative;
	display: block;
	height: 122px;
	width: 292px;
	text-indent: -9999px;
	background: url(../images/logo_REMS.png) top left no-repeat;
	z-index: 10;
	margin-top: -22px;
}

h1, h2 {
	font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-style: italic;
	color: #0154A0;
}

h3 {
	color: #0154A0;
}

h2, h3 {
	margin-bottom: -.5em;
}

h1 {
    font-size: 1.75em;
}

h1.siteTitle {
	font-size: 20px;
	font-style: normal;
	text-transform: uppercase;
    text-align:center;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

a, a:link {
	color: #0172B8;
	text-decoration: none;
}

a:hover, a:focus {
	color: #849717;
}

ul {
	list-style-type: square;
	padding-left: 2%;
	margin-left: 1em;
}

.main ul, .main2x ul, .main3x ul , .main1x ul{
    list-style-image: url("../images/liarrows.png");
	margin-left: 1em;
}
.main ul li p, .main2x ul li p, .main3x ul li p , .main1x ul li p {
    padding: 0px;
    margin: 0px;
}
.main ul li , .main2x ul li , .main3x ul li , .main1x ul li {
    margin-bottom: 7px;

}

ul.checkMark {
	list-style-image: url("../images/licheckmark.png");
}
.grayitalics {
	color: #666;
	font-style: italic;
	font-size: .9em;
}
th {
	border-bottom: 2px solid #0172B8;
}
/*
----------------------------------------------------------------
 AUTOMATICALLY ADD ICONS WHEN LINKING TO DOCS AND OUTSIDE SITES
----------------------------------------------------------------
*/
a[href$=".pdf"] {  
   background: url(../images/icon_acrobat.gif) center right no-repeat;
   padding-right: 16px;  
}   
 
a[href$=".ppt"] {  
   background: url(../images/icon_ppt.png) center right no-repeat;
   padding-right: 16px;  
}

a[href$=".doc"] {  
   background: url(../images/icon_Word.png) center right no-repeat;
   padding-right: 16px;  
}

a[href$=".docx"] {  
   background: url(../images/icon_Word.png) center right no-repeat;
   padding-right: 16px;  
}

a[href^="http"] {  
   background: url(../images/icon_externaLink_gra.png) center right no-repeat; 
   padding-right: 16px; 
}  

a[href$="ed.gov"], a[href$="ed.gov/"] {  
   background: url(../images/icon_ED.png) center right no-repeat !important;
   padding-right: 16px;  
}

a[href^="mailto"] {  
   background: none; 
   background-image: none !important;
   padding-right: 0; 
}  

/*
-----------------------------------------------
Horizontal Dropdown Menu
-----------------------------------------------
*/

#navMenu {
	position: relative;
	display: block;
	width: 100%;
	float: left;
	font-weight: normal;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0;
	background: #006EBC;
	z-index: 5;
}

#navMenu ul {
	position: relative;
	float: left;
	padding: 0;
	min-width: 708px;
}

#nav {
	list-style:none;
	font-weight:normal;
	text-transform: uppercase;
	float:left;
	width:auto;
	z-index:500;
	margin:0;
	background: #006EBC;
}

#nav li {
	position:relative;
	float:left;
	border-left: 2px solid #005EBC;
	border-right: 1px solid #3E7FD9;
}

#nav li:first-child {
	margin-left: 278px;
	border-left: none;
}

#nav li:last-child {
	border-right: none;
}


#nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 12px 18px 12px 18px;
    font-weight: bold;
}

#nav a:first-child {
	border-left: none;
}

#nav li.lastHorizontal a {
	border-right: none;
}

#nav a:hover {
	color:#fff;
	background:#2E81E3;
	text-decoration:none;
}

/*
-----------------------------------------------
The Drop down
-----------------------------------------------
*/

		#nav ul {
			position: absolute;
			background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Match page's background closely*/
			background:rgba(255,255,255,0); /* Make the background fully transparent to hide it where possible */
			list-style:none;
			position:absolute;
			left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
			width: auto;
			z-index: 1000;
			text-indent: 0;
		}
		
		#nav ul li {
			position: relative;
			display: block;
			border: none;
			border-bottom: 1px solid #72ACDD;
			padding:0; /* Padding between the li and the a give the illusion spaced items */
			float:none;
			width: 240px;
			z-index: 1000;
		}
		
		#nav ul li:hover {
			width: 240px;
		}
		
		#nav ul li:first-child {
			margin-left: 0;
			border-left: none;
		}
		
		#nav ul a {
			/*white-space:nowrap;  Controls text wrapping */
		}
		
		#nav li:hover ul { /* Display the dropdown on hover */
			position: absolute;
			left:-2px; /* Bring back on-screen when needed */
			top: 28px;
		}
		
		#nav li:hover a { /* Create persistent hover states; the top-most link stays 'hovered' as cursor moves down the list. */
			background:#0060BA;
			text-decoration:none;
			-moz-opacity:.95; 
			filter:alpha(opacity=95); 
			opacity:.95;
		}
		
		#nav li:hover ul a { /* Persistent hover state creates a global style for links even before they're hovered. Undo here if needed. */
			text-decoration:none;
		}
		
		#nav li:hover ul li a:hover { /* Hover for each individual link. */
			background:#BAD5F5;
			color: #444;
		}
		.last {
			margin-left: -136px;
		}

/*
============================================================
			SIDE MENU STYLES
============================================================
*/


h4.sideMenu {
	background: #0154A0;
	color: #FFFFFF;
	padding: 6px;
	border: solid 1px #0154A0;
	border-radius: 6px 6px 0px 0px;
	font-size: 1.1em;
	margin: 1em auto;
	margin-bottom: 0;
}

.sideMenu + ul li {
	display: block;
	border-top: 1px solid #ccc;
}

.sideMenu + ul li:first-child {
	border-top: none;
}

.sideMenu + ul li a {
	display: block;
	padding: 4px 0;
}

.sideMenu + ul, .sideMenu + ul li ul, .sideMenu + ul li ul li ul, .sideMenu + ul li ul li ul li ul {
	list-style: none;
	padding: 0;
}

.sideMenu + ul {
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 0;
}

.sideMenu + ul li ul li  {
	font-weight: normal;
}

.sideMenu + ul li ul li ul {
	text-transform: none;
}

.sideMenu + ul li ul li ul li ul {
	font-weight: normal;
	text-transform: none;
}

.sideMenu + ul li ul li ul li a {
	display: block;
	color: #656565;
	padding: 4px 0;
}

.sideMenu + ul li ul li ul li {
	border-top: 1px solid #ccc;
}

.sideMenu + ul li ul li ul li:first-child {
	border-top: none;
}


.sideMenu + ul li ul li ul li ul li {
	margin-left: 1em;
}

.sideMenu + ul li ul li a {
	color: #656565;
}

.sideMenu + ul li ul li a:hover {
	color: #0154A0;
}


/*h4.sideMenu {
	background: #0154A0;
	color: #FFFFFF;
	padding: 6px;
	border: solid 1px #0154A0;
	border-radius: 6px 6px 0px 0px;
	font-size: 1.1em;
	margin: 1em auto;
	margin-bottom: 0;
}

ul.lessons, ul.sublessons{
	padding: 0px 5px;
}
ul#listCategories {
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1em;
}
.lessonTitle {
	color: #0154A0;
	font-size: .9em;
	font-weight:800;
	display: block;
	padding: 5% 0;
	text-transform:uppercase;
	text-decoration:none;
	border-top: 1px solid #e3e3e3;
}

.lessonTitle:first-child {
	border-top: none;
	margin-top: 0;
}

.lessonTitle a {
	color: #0154A0;
	padding-bottom: 5%;
	text-decoration:none;
}
ul.subLessons {
	margin-top: 5%;
}
ul.subLessons a {
	color: #000;
	text-decoration:none;
	text-transform: none;
}
ul.subLessons a:hover {
	background:none;
	font-weight: bold;
}
.lessonSubtitle {
	color: #000000;
	font-size: 1.1em;
	font-weight:800;
	display: block;
	padding: 8px 0px;
}

ul.subLessons li {
	list-style-type: none;
	padding-bottom: 6%;
	color: #333333;
	font-weight: 500;
	padding-left: 10%;
}

ul.subLessons .lessonSubtitle {
	font-weight: 800;
}
ul.subLessons {
	padding: 0 1%;
}

ul.subLessons ul {
	padding-left:0;
}

ul.subLessons ul li a, ul.subLessons ul li a:link {
	color: #555;
}

ul.subLessons ul li a:hover, ul.subLessons ul li a:focus {
	color: #0154A0;
	font-weight: normal;
}

a.clicker {
	outline: none;
}
*/


/*
============================================================
			CONTENT AREA STYLES
============================================================
*/

.wrap {
	position: relative;
	display: block;
	margin: auto;
	width: 1024px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.pageTitle {
	width: 100%;
	background: url(../images/stripe.png);
	border-bottom: 3px solid #e9e9e9;
	margin-bottom: .5em;
}

.pageTitle h1 {
	position: relative;
	display: block;
	font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-style: italic;
	color: #0154A0;
    font-size: 2.3em;
    font-weight: bold;
	width: 724px;
	margin:.3em auto;
	clear: both;
	padding-left: 300px;
}

.column {
	position: relative;
	display: block;
	float: left;
	width: 25%;
	padding: 0 1%;
}

.columnSmall {
	position: relative;
	display: block;
	float: left;
	width: 22%;
	padding: 0 1%;
}


.main, .main2x, .main3x, .main1x {
	position: relative;
	display: block;
	float: left;
	padding: 0 1%;
}

.main {
	width: 44%;/* was 65*/
	margin-bottom: 8%;
}

.main2x {
	width: 65%;
}
.main3x {
	width: 50%;
}
.main2x {
	width: 65%;
}
.main1x {
	width: 100%;	margin-bottom: 8%;
}

/*
----------------------
Feature Box styles
----------------------
*/

.featureBox {
    border-radius: 6px;
	border: 1px solid #CCC;
	padding: 2%;
	margin-top: 1em;
	margin-bottom: 1.5em;
}

.featureBox ul {
	padding-left: 5%;
	
}

h3.featureHead {
	display: block;
    border-radius: 6px 6px 0 0;
	margin:auto;
	padding: 3% 0 2% 5%;
	padding-right: 48px;
	color: #FFF;
	font-size: 1.1em;
	height: 3em;
}

h3.green {
	background: #849717;
}

h3.blue {
	background: #0172B8;
}

h3.yellow {
	background: #F7C107;
}

h3.gray {
	background: #6D6E73;
}

h3.icon_cal {
	background: url("../Images/calicon_h3.png") no-repeat top right #F7C107;
}

/*h3.icon_cal {
	background: url("../Images/calicon_h3.png") no-repeat top right #6D6E73;
}*/

h3.icon_page {
	background: url("../Images/pageicon_h3.png") no-repeat top right #c12028;
}

h3.icon_bulb {
	background: url("../Images/bulbicon_h3.png") no-repeat top right #0172B8;
}
h3.icon_bulbred {
	background: url("../Images/bulbicon_h3.png") no-repeat top right #849717;
}
/*blue #0172B8
yellow #F7C107
red #c12028
green #849717*/

/*
============================================================
			DEFAULT TABLE STYLES
============================================================
*/

table {
	/*margin: 1.5em 0;*/
	width: 100%;
}

th, td {
	padding: 6px;
	border-left: 1px dotted #ccc;
}

th:first-child, td:first-child {
	border-left: none;
}

th {
	vertical-align: top;
	text-align: left;
}

td>ul {
	margin: 0;
	padding-left: 1em;
}

.altRow {
	background: #eee;
}

tr {
	border-top: 1px solid #ccc;
}

tr:first-child {
	border-top: none;
}

tr.tbl_head {
	background: #0172B8;
	color: #fff;
}
 .guideTbl
{
   /* border: thin solid #C0C0C0;
    padding: 0px;
    margin: 0px;*/
}

.guideTbl th
{
    /*border-style: none none solid none;
    padding: 10px;
    color: #E1F6BD;
    border-bottom-width: 2px;
    font-weight: bold;
    text-align: left;
    background-color: #739A2C;
	*/
		background: #0172B8;
	color: #fff;
        vertical-align: top;
    text-align:center;
}
.guideTbl th:hover
{

   /* color: #223C61;*/

}
.guideTbl td {
    vertical-align: top;
    text-align: left;
}
.guideTbl tr:nth-child(even)
{
        vertical-align: top;
    text-align: left;
    	background: #eee;
}
.guideTbl tr:nth-child(odd) {background: white;

}

 
/*
============================================================
			FOOTER SECTION STYLES
============================================================
*/

footer {
	position:relative;
	display: table;
	width: 200%;
	clear: both;
	margin-left: -50%;
	background: #0172B8;
}

.footerTop {
	position: relative;
	display: block;
	width: 100%;
	background: #fff;
	border-top: 6px solid #0172B8;
	padding: 6px 0;

}

.footerlist {
	position: relative;
	display: table;
	list-style-type: none;
	clear: both;
}

.footerlist a {
	color: #333;
}

.footerlist a:hover {
	color: #0172B8;
}

.footerlist ul, .bottomBlue ul {
	padding: 0;
	margin: 0;
}

.footerlist li, .bottomBlue li {
	position: relative;
	display: block;
	float: left;
	margin-left: 2.5em;
}

.bottomBlue ul {
	margin-top: 1em;
}

.bottomBlue li {
	margin-left: 0;
	padding: 0 .5em;
	border-left: 1px dotted #fff;
}

.bottomBlue li:first-child {
	border-left: none;
}

.bottomBlue {
	color: #fff;
	font-size: .8em;
	padding-bottom: 10%;
}

.bottomBlue a {
	color: #fff;
}

.bottomBlue a:hover {
	text-decoration: underline;
}

.bottomBlue p {
	position: relative;
	display: block;
	float: left;
	width: 40%;
}

.logo_left, .logo_right {
	position: relative;
	display: block;
}

.logo_left {
	margin-top: -30px;
	float: left;
	margin-right: 2em;
}

.logo_right {
	margin-top: .5em;
	float: left;
	margin-left: 2em;
}



.float-image
{    
    position:relative;
    left:0;
    top:0;
 
}
.float-text
{
    z-index: 100;
    position: relative;
    color: #4E78A0;
    font-size: 60px;
    font-weight: bold;
    left: 150px;
    top: -300px;
    font-family: 'Times New Roman';
    text-shadow: 4px 2px #C0C0C0;
    margin-bottom: -100px;
}


.news-box
{

border:2px solid;
border-radius:25px;

}
.boxwrap {
}
.box {
	width: 45%;
	float:left;
	display: inline;
	margin: 3% 1% 3% 1%;
}
.box img {
	max-width:100%;
}
.box h3 {
	padding-bottom: 8%;
}
h3.schoolh3 {
	background-color: #d0f1ff;
	border-bottom: 1px solid #0172B8;
	padding: 2% 0 2% 3%;
	color: #515151;
	margin-bottom: 5%;
	border-radius: 6px 6px 0 0;
	font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
	font-style: italic;
}
h3.highedh3 {
	background-color: #e9f3b1;
	border-bottom: 1px solid #849717;
	padding: 2% 0 2% 3%;
	color: #515151;
	margin-bottom: 5%;
	border-radius: 6px 6px 0 0;
	font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
	font-style: italic;
}
.footnotes 
{
    font-size:x-small;
}

/*
============================================================
			ASSESSMENT TOOL STYLES
============================================================
*/

.wrap h1 {
	font-family: "Palatino Linotype","Book Antiqua",Palatino,serif; 
	font-style: italic; 
	color:#006ebc; 
	margin-left: 2em; 
}
fieldset.assessForm {
	position: relative; 
	display: block; 
	border:1px solid #ccc; 
	border-radius: 6px; 
	width: 80%; 
	/*padding: 2em; */
	margin-bottom: 2.4em; 
	font-family: "Palatino Linotype","Book Antiqua",Palatino,serif; 
	color: #555; 
	font-size: 1em; 
	margin: 2.4em auto;
	padding-bottom: 0;
}
fieldset.assessForm > legend { 
	font-weight: bold; 
	color: #006ebc; 
	padding: 0 .8em; 
	font-size: 1.1em; 
}
.assessForm p {
	line-height: 1.6em;
}
.assessForm a, .assessForm a.MouesoverPopup { 
	color: #849818 !important; 
	text-decoration: none;
}
.assessForm a:hover {
	color: #6D6E73 !important;
}
.assessForm ul, .assessForm ol  {
	position: relative; 
	display: block; 
	margin: 0; 
	margin-left: 1em; 
	padding: 0;
} 
.assessForm li, .assessForm tr {
	clear: both; 
	border-top: 1px solid #ccc; 
	padding: 1em 0;
}
.assessForm ol li {
	list-style: none;
}
.assessForm label, .assessForm input {
	position: relative; 
	display: block; 
	float: left; 
	line-height: 1.1em;
}
.assessForm > label {
	margin-left: 1em;
	margin-bottom: 1em;
	font-weight: bold;
}
.assessForm input[type="text"] {
	margin-left: 1em; 
	margin-right: 2em;
}
.assessForm li:first-child {
	border: none; 
	padding-top: 0;
}
.assessForm input[type="radio"] {
	margin-left: 1em; 
	margin-right: .5em;
}
.assessForm input[type="radio"]:hover {
	border: 1px solid blue;
}
.assessForm input[name="billAddress"], input[name="billCity"] {
	width: 27em;
}
.assessForm legend {
	display: table; 
	white-space: normal !important;
}
.assessForm .required.hidden {
	display: block; 
	visibility: hidden; 
	color: red; 
	width: 0;
}
.assessForm .required.visible {
	visibility: visible; 
	width: auto;
}
.assessForm label:first-child {
	width: 54%;
}
.assessForm input:after {
	content:"."; 
	visibility:hidden; 
	display: block; 
	height:0; 
	clear: both;
}
.assessForm tr {
	display: table-cell;
}
.assessForm span {
	position: relative;
	display: block;
	width: 100%;
	padding-bottom:1em;
	margin-bottom: 1em;
	border-bottom: 1px solid #ccc;
}
.assessForm span br 
{
    line-height: 2em;
}
.assessForm span:last-child {
	border: none;
	padding-bottom: none;
}
.assessForm span[id^="ContentMain"] {
	position: relative;
	display: block;
	float: left;
}

.assessForm span[id^="ContentMain_req"] {
	position: relative;
	display: block;
	width: auto;
	float: left;	
	padding-bottom: 0;
	margin-bottom: 0;
	margin-left: -130px;
	border: none;
	background: none;
}
.assessForm span[id^="ContentMain_req"]:before {
	content:"* ";
}
.prevNext {
	position: relative; 
	display: block; 
	width: 300px; 
	text-align: center; 
	margin: 0 auto;
}
.prevNext input[type="submit"] {
	display: block; 
	float: left; 
	margin-right: 2em;  
	padding: 6px 12px; 
	background: #849818; 
	color: #fff; 
	border-radius: 4px; 
	border: none; 
	text-transform: uppercase; 
}
.prevNext input[type="submit"]:hover {
	display: block; 
	float: left; 
	margin-right: 2em;  
	padding: 6px 12px; 
	color: #fff; 
	border-radius: 4px; 
	border: none; 
	text-transform: uppercase;
	background: #6D6E73;
}

/*=================Popup==================*/

.assessForm .popup {
	background-color: #fff; 
	border: 6px solid #F7C107; 
	border-radius: 4px; 
	font-size: 14px; 
	width: 396px; 
	padding: 20px;
}
 a.MouesoverPopup:hover {
	 cursor: pointer;
}
.PopUp
{
    display: none; 
    position: absolute;  
	margin: 20% auto;  
    border: 6px solid #869919; 
	border-radius: 4px;
    padding:28px 20px 20px 20px;  
    background: #fff; 
    text-align: justify; 
    font-size: 14px; 
	line-height: 22px;
    width: 395px;
}
.b-close {
	position: absolute;
	display: block;
	height: 16px;
	width: 60px;
	background: url(../Images/close.png) no-repeat;
	color: #fff;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	top: 6px;
	right: 6px;
}
.b-close:hover {
	background: url(../Images/close_over.png) no-repeat;
}
.MouesoverPopup {
    color:#797979;
}

