﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default2.aspx.cs" Inherits="Default2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>  

        <script src="Scripts/bPopup.min.js"></script>
         <script type="text/javascript">

             function showPos(event, text) {
                 var el;
                 el = document.getElementById('PopUp');
                 // el.style.display = "block";
             
                 $("#PopUp999").bPopup();
             }
           </script>
    <style>

     .popUP { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:400px;
    min-height: 180px;
}
.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}

    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
                <asp:RadioButtonList ID="rbtEmergencyPlan" runat="server" RepeatDirection="Vertical" onclick="showPos(event,'')" >
                    <asp:ListItem>gg</asp:ListItem>
                    <asp:ListItem>pp</asp:ListItem>
            </asp:RadioButtonList> 
    </div>
                         <div id="PopUp999"  class="popUP"    >
              <span>Whether or not you currently have a plan, you are in the right place! This assessment 
                  will help you recognize areas of school safety planning in which you may already be 
                  engaged, and those in which you can expand or enhance, including recommendations for 
                  how to move forward on both.</span>
              </div>
    </form>
</body>
</html>
