﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="remsMasterPage.master.cs" Inherits="remsMasterPage" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head runat="server">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!--  Load JS and CSS Libraries  -->
    <script type="text/javascript" src="js/jquery-1.11.1.js"></script>

    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/additional-methods.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/modernizr.custom.15150.js"></script>
    <script type="text/javascript" src="js/accordion.js"></script>
	<script type="text/javascript" src="js/stepNavigation.js"></script>
	<script type="text/javascript" src="js/js.cookie.js"></script>


    <link href="css/jquery-ui.css" rel="stylesheet">
    <link href="css/jquery-impromptu.css" rel="stylesheet" media="all" type="text/css" />

    <!-- **** Load App specific JS and CSS ****** -->
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="css/slidebars.css">
    <link rel="stylesheet" href="css/tooltip.css">
    <link rel="stylesheet" href="css/print.css" media="print" type="text/css" />
    <link rel="stylesheet" href="css/assessForm.css" type="text/css" />
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="css/assessForm-ie.css" type="text/css" />
	<![endif]-->

    <script type="text/javascript" src='js/standard.js'></script>



    <title>EOP Assess : Home</title>

   <%-- <script language="JavaScript" type="text/javascript">
        $(function () {
            $(document).tooltip({
                track: false
            });
        });

        $(document).ready(function () {

            $('#loading').hide();

        })
            .ajaxStart(function () {
                $('#loading').show();
            })
            .ajaxStop(function () {
                $('#loading').hide();
            });

    </script>--%>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

</head>

<body id="active1">
    <form id="form1" runat="server">
        <%--<div id='loading'>
            <img alt="loading" src="img/loading.gif"><span>Loading...</span>
        </div>--%>

        <div id="sb-site">
            <div id="dtool" class="5dcontain">
                <div id="menu_row">
                    <!--<h1 class="assessTitle">EOP Assess</h1>-->


                    <div id="menudiv">
                        <ul>
                            <li class="sb-toggle-left not-active"></li>
                        </ul>

                    </div>



                    <div id="rightcontain">
                        <div id="listdiv" style="padding-botton: 5px;">
                            <ul class="ld">
                               <%-- <li><a href="../../default.aspx">Return to REMS Homepage</a></li>
                                <li><a href="../../EOPinteractivetools.aspx">Return to Interactive Tools</a></li>--%>
                                <li><a href="../../default.aspx">Return to REMS TA Center Website</a></li>
                                <li><a href="../../EOPinteractivetools.aspx">Return to EOP Interactive Tools</a></li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div id="step_row">
                    <!--<div id="step_title">
                        <h2>EOP <em>ASSESS!</em></h2>
                    </div>-->

                    <%--	<div id="steps">
						<ul class="nav">
							<li class="stepNav active1">
								<a href="Default.aspx">Welcome</a>
							</li>
							<li class="stepNav active2">
								<a href="A_Demographic.aspx?lngPkID=403">Demographics</a>
							</li>
							<li class="stepNav active3">
								<a href="B_Introduction.aspx?lngPkID=403">Introduction</a>
							</li>
							<li class="stepNav active4">
								<a href="C_ThreatHazards.aspx?lngPkID=403">Threats &amp; Hazards</a>
							</li>
							<li class="stepNav active5">
								<a href="D_AccountingCommunication.aspx?lngPkID=403">Accounting &amp; Communication</a>
							</li>
							<li class="stepNav active6">
								<a href="E_PlanningEduCommunity.aspx?lngPkID=403">Planning for the Whole School<!-- Community--></a>
							</li>
							<li class="stepNav active7">
								<a href="F_LawsRegulations.aspx?lngPkID=403">Laws &amp; <br>Regulations</a>
							</li>
							<li class="stepNav active8">
								<a href="G_TrainingDocumentation.aspx?lngPkID=403">Training &amp;<br>Documentation</a>
							</li>
							<li class="stepNav active9">
								<a href="H_Recovery.aspx?lngPkID=403">Recovery</a>
							</li>
							<li class="stepNav active10">
								<a href="I_OtherConsideration.aspx?lngPkID=403">Other Considerations</a>
							</li>
							<li class="stepNav active11">
								<a href="J_Conclusion.aspx?lngPkID=403">Conclusion</a>
							</li>
						</ul>
					</div>--%>
                    <div id="steps">
                        <ul>
                            <%--<li class="stepNav active1">
								<a href="#">Welcome</a>
							</li>--%>
                            <li class="stepNav active2">
                                <asp:LinkButton ID="lbDemographic" Visible="true" Enabled="true" runat="server" OnClick="lbDemographic_Click">Welcome</asp:LinkButton> 
                                 <asp:LinkButton ID="lb_IHEDemographic" Visible="false" Enabled="true" runat="server" OnClick="lb_IHEDemographic_Click">Welcome</asp:LinkButton>                                       
                            </li>
                            <li class="stepNav active3">
                                <asp:LinkButton ID="lbIntroduction" Visible="true" Enabled="false" runat="server" OnClick="lbIntroduction_Click">Collaboration</asp:LinkButton>
                                <asp:LinkButton ID="lbIHE_Intro" Visible="false" Enabled="false" runat="server" OnClick="lbIHE_Intro_Click">Collaboration</asp:LinkButton>
                               
                            </li>
                            <li class="stepNav active4">
                                <asp:LinkButton ID="lbThreatHazards" Visible="true" Enabled="false" runat="server" OnClick="lbThreatHazards_Click">Threats &amp; <br />Hazards</asp:LinkButton>
                                <asp:LinkButton ID="lb_IHEThreatHarzards" Visible="false" Enabled="false" runat="server" OnClick="lb_IHEHarzards_Click">Threats &amp; <br />Hazards</asp:LinkButton>
                                
                            </li>
                            <li class="stepNav active5">
                                <asp:LinkButton ID="lbAccountingComm" Visible="true" Enabled="false" runat="server" OnClick="lbAccountingComm_Click">Accounting &amp; <br />Communication</asp:LinkButton>
                                <asp:LinkButton ID="lb_IHEAccountingComm" Visible="false" Enabled="false" runat="server" OnClick="lb_IHEAccountingComm_Click">Accounting &amp; <br />Communication</asp:LinkButton>
                            </li>
                            <li class="stepNav active6">
                                <asp:LinkButton ID="lbPlanningEduComm" Visible="true" Enabled="false" runat="server" OnClick="lbPlanningEduComm_Click">Whole Community</asp:LinkButton>
                                <asp:LinkButton ID="lb_IHEPlanningEduComm" Visible="false" Enabled="false" runat="server" OnClick="lb_IHEPlanningEduComm_Click">Whole Community</asp:LinkButton>
                            </li>
                            <li class="stepNav active7">
                                <asp:LinkButton ID="lbLawregulations" Visible="true" Enabled="false" runat="server" OnClick="lbLawregulations_Click">Laws &amp; <br>Regulations</asp:LinkButton>
                               <asp:LinkButton ID="lb_IHELawregulations" Visible="false" Enabled="false" runat="server" OnClick="lb_IHELawregulations_Click">Laws &amp; <br>Regulations</asp:LinkButton>
                            </li>
                            <li class="stepNav active8">
                                <asp:LinkButton ID="lbTrainingDoc" Visible="true" Enabled="false" runat="server" OnClick="lbTrainingDoc_Click">Training &amp; <br>Documentation</asp:LinkButton>
                                <asp:LinkButton ID="lb_IHETrainingDoc" Visible="false" Enabled="false" runat="server" OnClick="lb_IHETrainingDoc_Click">Training &amp; <br>Documentation</asp:LinkButton>
                            </li>
                            <li class="stepNav active9">

                                <asp:LinkButton ID="lbRecovery" Visible="true" Enabled="false" runat="server" OnClick="lbRecovery_Click">COOP &amp; <br />Recovery</asp:LinkButton>
                                <asp:LinkButton ID="lb_IHERecovery" Enabled="false" Visible="false" runat="server" OnClick="lb_IHERecovery_Click">COOP &amp; <br />Recovery</asp:LinkButton>
                            </li>
                            <li class="stepNav active10">
                                <asp:LinkButton ID="lbOtherConsideration" Visible="true" Enabled="false" runat="server" OnClick="lbOtherConsideration_Click">Other Considerations</asp:LinkButton>
                                <asp:LinkButton ID="lb_IHEOtherConsideration" Enabled="false" Visible="false" runat="server" OnClick="lb_IHEOtherConsideration_Click">Other Considerations</asp:LinkButton>
                            </li>
                            <li class="stepNav active11">
                                <asp:LinkButton ID="lbConclusion" Enabled="false" Visible="true" runat="server" OnClick="lbConclusion_Click">Conclusion</asp:LinkButton>
                                <asp:LinkButton ID="lb_IHEConclusion" Enabled="false" Visible="false" runat="server" OnClick="lb_IHEConclusion_Click">Conclusion</asp:LinkButton>
                            </li>
                        </ul>
                    </div>

                </div>


                <div class="content" id='introOneContent'>
                    <asp:ContentPlaceHolder ID="ContentMain" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
                <!-- /col-half -->
                <!-- /col-half -->
                <!--end to be replaced content-->
                <script type='text/javascript'>
                    $(document).ready(function () {

                        $("a#rightArrowButton").attr("href", "/EOPAssist_R2/home/step/2"); //Next

                        $("a#leftArrowButton").attr("href", "/EOPAssist_R2/plan/step6/5"); // Previous

                    });
                </script>
            </div>

            <div id="footer">
                <div id="logo">
                    <img src="img/REMS-TA-Center.png" class="logo" />
                    <p class="DOEcr">2015 &copy; United States Department of Education</p>
                </div>

                <div class="Pageno">                 
                        <asp:Label ID="pageno" runat="server"></asp:Label>
                </div>


                <%--<div id="arrow_nav">
                <div id="left_arrow">
                    <div id="leftArrowButton">
                        <a href="#" id="leftArrowButton"><img src="img/arrow_left.png" id='Img1' /></a>
                    </div>
                </div>
                <div id="right_arrow">
                    <a href="#" id="rightArrowButton">
                        <img src="img/arrow_right.png" id='Img2' /></a>
                </div>
            </div>--%>
            </div>



        </div>


        <%--
		<div class="sb-slidebar sb-left sb-style-push">
            <div id="close_slide">
                <ul class="ximg">
                    <li class="sb-close">
                        <img src="img/close.png" close="sb-close" class="closeimg" /></li>
                </ul>
            </div>
            <div id="slidecontent">
                <ul>
                    <li><a href="Default.aspx">Welcome</a></li>
                    <li><a href="A_Demographic.aspx?lngPkID=403">Demographics</a></li>
                    <li><a href="B_Introduction.aspx?lngPkID=403">Introduction</a></li>
                    <li><a href="C_ThreatHazards.aspx?lngPkID=403">Threats &amp; Hazards</a></li>
                    <li><a href="D_AccountingCommunication.aspx?lngPkID=403">Accounting &amp; Communication</a></li>
                    <li><a href="E_PlanningEduCommunity.aspx?lngPkID=403">Planning for the Whole School Community</a></li>
                    <li><a href="F_LawsRegulations.aspx?lngPkID=403">Laws &amp; Regulations</a></li>
                    <li><a href="G_TrainingDocumentation.aspx?lngPkID=403">Training &amp; Documentation</a></li>
                    <li><a href="H_Recovery.aspx?lngPkID=403">Recovery</a></li>
                    <li><a href="I_OtherConsideration.aspx?lngPkID=403">Other Considerations</a></li>
                    <li><a href="J_Conclusion.aspx?lngPkID=403">Conclusion</a></li>
                </ul>

            </div>
            <div class="savequit">
                <ul class="sq">
                    <li><a href="#">SAVE</a></li>
                    <li><a href="#">QUIT</a></li>
                </ul>
            </div>
        </div>
	--%>


        <div class="sb-slidebar sb-right sb-style-push">
            <div id="close_slide2">
                <ul class="ximgl">
                    <li class="sb-close">
                        <img src="img/close.png" close="sb-close" class="closeimg" /></li>
                </ul>
            </div>

            <div class="rthead">
                <h3 class="rtheading">Resource Toolkit</h3>
            </div>

        </div>

        <!-- Load Dynamic javascript -->
    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            //Load list of eligible schools that fall under the user's district
            // alert('here');
            $.ajax({
                url: "/EOPAssist_R2/school/get_schools_in_my_district",
                type: 'POST',
                data: { ajax: '1', user_id: 57 },
                success: function (response) {
                    var schools = JSON.parse(response);
                    var pageSchoolElement = $("#slctsubdistrictselection");
                    pageSchoolElement.empty();

                    pageSchoolElement.append($("<option></option>")
                        .attr("value", '')
                        .attr("selected", 'selected')
                        .text("--Select--"));

                    $.each(schools, function (key, value) {
                        pageSchoolElement.append($("<option></option>")
                            .attr("value", value.id)
                            .text(value.name));
                    });
                    pageSchoolElement.val();
                }
            });
        });

        $(document).on('change', '#slctsubdistrictselection', function () {

            var form_data = {
                ajax: '1',
                school_id: this.value
            };
            $.ajax({
                url: "/EOPAssist_R2/school/attach_to_session",
                type: 'POST',
                data: form_data,
                success: function (response) {
                    var ret = JSON.parse(response);
                    if (ret.loaded) {
                        $("#slctsubdistrictselection").val(ret.school_id);
                        location.reload();
                    }
                    else {
                        alert("Error Loading School! Try selecting from the menu drop down.");
                    }
                }
            });
        });
    </script>

    <!-- Import Final JS Scripts and CSS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Slidebars -->
  <%--  <script src="js/slidebars.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                $.slidebars();
            });
        })(jQuery);
		</script> --%>
    <script src="js/jquery-impromptu.js" type="text/javascript"></script>
	
	
</body>
</html>



