/*
============================================================
			ASSESSMENT TOOL STYLES
============================================================
*/

.wrap h1 {
	font-family: "Palatino Linotype","Book Antiqua",Palatino,serif; 
	font-style: italic; 
	color:#006ebc; 
	margin-left: 2em; 
}
fieldset.assessForm {
	position: relative; 
	display: block; 
	border:1px solid #ccc; 
	border-radius: 6px; 
	width: 80%; 
	/*padding: 2em; */
	margin-bottom: 2.4em; 
	font-family: "Palatino Linotype","Book Antiqua",Palatino,serif; 
	color: #555; 
	font-size: 1em; 
	margin: 2.4em auto;
	padding-bottom: 0;
}
fieldset.assessForm > legend { 
	font-weight: bold; 
	color: #006ebc; 
	padding: 0 .8em; 
	font-size: 1.1em; 
}
.assessForm p {
	line-height: 1.6em;
}
.assessForm a, .assessForm a.MouesoverPopup { 
	color: #849818 !important; 
	text-decoration: none;
}
.assessForm a:hover {
	color: #6D6E73 !important;
}
.assessForm ul, .assessForm ol  {
	position: relative; 
	display: block; 
	margin: 0; 
	margin-left: 1em; 
	padding: 0;
} 
.assessForm li, .assessForm tr {
	clear: both; 
	border-top: 1px solid #ccc; 
	padding: 1em 0;
}
.assessForm ol li {
	list-style: none;
}
.assessForm label, .assessForm input {
	position: relative; 
	display: block; 
	float: left; 
	line-height: 1.1em;
}
.assessForm > label {
	margin-left: 1em;
	margin-bottom: 1em;
	font-weight: bold;
}
.assessForm input[type="text"] {
	margin-left: 1em; 
	margin-right: 2em;
}
.assessForm li:first-child {
	border: none; 
	padding-top: 0;
}
.assessForm input[type="radio"] {
	margin-left: 1em; 
	margin-right: .5em;
}
.assessForm input[type="radio"]:hover {
	border: 1px solid blue;
}
.assessForm input[name="billAddress"], input[name="billCity"] {
	width: 27em;
}
.assessForm legend {
	display: table; 
	white-space: normal;
}
.assessForm .required.hidden {
	display: block; 
	visibility: hidden; 
	color: red; 
	width: 0;
}
.assessForm .required.visible {
	visibility: visible; 
	width: auto;
}
.assessForm label:first-child {
	width: 54%;
}
.assessForm input:after {
	content:"."; 
	visibility:hidden; 
	display: block; 
	height:0; 
	clear: both;
}
.assessForm tr {
	display: table-cell;
}
.assessForm span {
	position: relative;
	display: block;
	width: 100%;
	padding-bottom:1em;
	margin-bottom: 1em;
	border-bottom: 1px solid #ccc;
}
.assessForm span br 
{
    line-height: 2em;
}
.assessForm span:last-child {
	border: none;
	padding-bottom: none;
}
.assessForm span[id^="ContentMain"] {
	position: relative;
	display: block;
	float: left;
}

.assessForm span[id^="ContentMain_req"] {
	position: relative;
	display: block;
	width: auto;
	float: left;	
	padding-bottom: 0;
	margin-bottom: 0;
	margin-left: -130px;
	border: none;
	background: none;
}
.assessForm span[id^="ContentMain_req"]:before {
	content:"* ";
}
.assessForm .noBorder {
	border: none !important;
}
.assessForm .noBorder1 {
	border: none;
    font-weight: normal;
	font-style: italic;
}


.assessForm .defined {
	padding-bottom: 1em;
	border-bottom:  1px solid #ccc;
	font-weight: normal;
	font-style: italic;
}
.prevNext {
	position: relative; 
	display: block; 
	width: 300px; 
	text-align: center; 
	margin: 0 auto;
}
.prevNext input[type="submit"] {
	display: block; 
	float: left; 
	margin-right: 2em;  
	padding: 6px 12px; 
	background: #849818; 
	color: #fff; 
	border-radius: 4px; 
	border: none; 
	text-transform: uppercase; 
}
.prevNext input[type="submit"]:hover {
	display: block; 
	float: left; 
	margin-right: 2em;  
	padding: 6px 12px; 
	color: #fff; 
	border-radius: 4px; 
	border: none; 
	text-transform: uppercase;
	background: #6D6E73;
}

/*=================Popup==================*/

.assessForm .popup {
	background-color: #fff; 
	border: 6px solid #F7C107; 
	border-radius: 4px; 
	font-size: 14px; 
	width: 396px; 
	padding: 20px;
}
 a.MouesoverPopup:hover {
	 cursor: pointer;
}
.PopUp
{
    display: none; 
    position: absolute;  
	margin: 20% auto;  
    border: 6px solid #869919; 
	border-radius: 4px;
    padding:28px 20px 20px 20px;  
    background: #fff; 
    text-align: justify; 
    font-size: 14px; 
	line-height: 22px;
    width: 395px;
}
.b-close {
	position: absolute;
	display: block;
	height: 16px;
	width: 60px;
	background: url(../Images/close.png) no-repeat;
	color: #fff;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	top: 6px;
	right: 6px;
}
.b-close:hover {
	background: url(../Images/close_over.png) no-repeat;
}
.MouesoverPopup {
    color:#797979;
}

/*===========Introduction====================*/

fieldset.assessFormIntro {
	position: relative; 
	display: block; 
	border:1px solid #ccc; 
	border-radius: 6px; 
	width: 80%; 
	/*padding: 2em; */
	margin-bottom: 2.4em; 
	font-family: "Palatino Linotype","Book Antiqua",Palatino,serif; 
	color: #555; 
	font-size: 1em; 
	margin: 2.4em auto;
	padding-bottom: 0;
}
fieldset.assessFormIntro > legend { 
	font-weight: bold; 
	color: #006ebc; 
	padding: 0 .8em; 
	font-size: 1.1em; 
}
.assessFormIntro p {
	line-height: 1.6em;
}
.assessFormIntro a { 
	color: #849818 !important; 
	text-decoration: none;
}
.assessFormIntro a:hover {
	color: #6D6E73 !important;
}