@charset "UTF-8";
/* CSS Document */

h2 + p {
	margin-top: 1.5em;
}
.row {
	position: relative;
	display: block;
	width: 100%;
	padding: 1.4em;
	background: #eee;
}
.row .columnSmall {
	display: table;
	padding: 0;
}

.row .main2x {
	width: 52%;
	
}

.row .main2x h2 {
	margin-bottom: 1em;
}
.row:last-child {
	margin-bottom: 2em;
}
.row p {
	margin-bottom: 1em;
}
.row img {
	position: relative;
	display: block;
	float: left;
	margin: 0 2em 1em 0;
}
.row:nth-child(odd) {
	background: #0154A0;
	color: #fff;
}
.row:nth-child(even) {
	background: #eee;
	color: #444;
}

.row:nth-child(odd) h2, .row:nth-child(odd) a {
	color: #fff;
}

.row:nth-child(odd) a {
	color: #0154A0;
	border: 2px solid #F7C107;
}
.row:nth-child(odd) a:hover {
	color: #F89A01;
	border-color: #fff;
}


.row h1, .row h2, .row h3, .row h4, .row p {
	margin-left:0;
	padding-left: 0;
}

.row a[data-id="course"] {
	position: relative;
	float: right;
	font-family: "Helvetica Neue", Helvetica, Arial, Gotham, sans-serif;
	text-transform: uppercase;
	font-size: 1.1em;
	display: table;
	width: auto;
	font-weight: bold;
	padding: .5em;
	border: 2px solid #A3A3A3;
	color: #0154A0;
	background: yellow;
	border-radius: 4px;
	margin-top: 1.5em;
}

 .row:after {
	 content: " ";
	 clear: both;
	 margin-bottom:1em;
	 height: 1em;
	 display: table;
 }
 .row a:hover {
	 color: #F89A01;
	 border-color: #fff;
	 box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.2);
	 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6), 0 1px 0 rgba(250, 250, 250, 0.9);
 }
 .row a:after {
	font-size: 1.1em;
    content: "\276f";
	display: inline-block;
	margin-left:10px;
 }
.callOut {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, Gotham, sans-serif;
	color: #0154A0; 
	font-weight: 300;
	text-transform: uppercase;
}