/* Flexnav Base Styles */
.flexnav {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	transition: none;
	-webkit-transform-style: preserve-3d;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	max-height: 0; 
}

.flexnav.opacity {
	opacity: 0; 
}

.flexnav.flexnav-show {
	max-height: 8000px;
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out; 
}

.flexnav {
	position: relative;
	display: block;
	width: 100%;
}

ul.flexnav  {
	margin-left: 0 !important;
}
.flexnav li {
	font-size: 100%;
	position: relative;
	overflow: hidden; 
	margin: 0 !important;
	width: 100%;
}

.flexnav li a {
	position: relative;
	display: block;
	padding: 6px .9em;
	z-index: 2;
	overflow: hidden;
	color: #0054A0;
	background: #efefef;
	padding-right: 50px;
	border-top: 1px solid rgba(255, 255, 255, .8);
}

.flexnav li ul {
	position: relative;
	display: block;
	width: 100%; 
	margin: 0;
	padding: 0;
}

.flexnav li ul li {
	position: relative;
	display: block;
	float: left;
	font-size: 100%;
	width: 100%; 
}

.flexnav li ul.flexnav-show li {
	overflow: visible; 
}

.flexnav li ul li a {
	display: block;
	background: #fff; 
	border-top: 1px dashed #ccc;
		color: #777;
		padding-left: 2em;
	font-size:.9em;
}

.flexnav li ul li:first-child a {
	border: none;
}

.flexnav ul li ul li a {
	background: #006EBC; 
	
}

.flexnav ul li ul li ul li a {
	background: #cbcbcb;
}

.flexnav .touch-button {
	position: absolute;
	z-index: 999;
	top: 0;
	right: 0;
	width: 40px;
	height: 31px;
	display: inline-block;
	background: #acaca1;
	background: rgba(0, 0, 0, 0.075);
	text-align: center; 
	overflow: hidden;
}

.flexnav .touch-button:hover {
	cursor: pointer; 
}

i.navicon {
	font-style: normal;
}

.flexnav .touch-button .navicon {
	position: relative;
	line-height: 31px;
	font-size: 16px;
	color: #006EBC; 
}

.flexnav a:hover {
	background: #0054A0;
	color: #fff;
}

.menu-button {
	position: relative;
	display: block;
	padding: 1em;
	background: #006EBC;
	color: #fff;
	cursor: pointer;
	border-radius: 3px 3px 0 0;
}

.menu-button.one-page {
	position: fixed;
	top: 0;
	right: 5%;
	padding-right: 45px; 
}

.menu-button .touch-button {
	background: transparent;
	position: absolute;
	z-index: 999;
	top: 0;
	right: 0;
	width: 40px;
	height: 100%;
	max-height: 31px;
	display: inline-block;
	text-align: center; 
}

.menu-button .touch-button .navicon {
	font-size: 12px;
	position: relative;
	top: .8em;
	color: #fff; 
}

aside {
	position: relative;
	display: block;
	float: left;
	margin-bottom: 5.5em;
}

aside h1 {
	display: none;
	background: #006EBC;
	color: #fff !important;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1em !important;
	margin-bottom:0 !important;
	padding: .5em 1em;
	border-radius: 4px 4px 0 0;
	font-weight: 300 !important;
	font-family: sans-serif !important;
}

@media all and (min-width: 800px) {

	.flexnav {
		overflow: visible; 
	}
	
	.flexnav.opacity {
		opacity: 1; 
	}
	
	.flexnav.one-page {
		top: 0;
		right: auto;
		max-width: 1080px; 
	}
	
	.flexnav li {
		position: relative;
		display: block;
		list-style: none;
		float: left;
		background-color: #fff;
		overflow: visible;
		width: 100%; 
	}
	
	.flexnav li a {
		border-bottom: none; 
	}
	
	.flexnav li > ul {
		position: relative;
		display: block;
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
		
	.flexnav li ul li > ul {
		margin-left: 100%;
		top: 0; 
	}

	.flexnav li ul li {
		width: 85%;
	}
	.flexnav li ul li a {
		width: 100%;
		padding-right: 0;
	}
	
	.flexnav li ul li a:hover {
		background: none;
		color: #85952B;
	}

	.flexnav li ul.open {
		display: block;
		opacity: 1;
		visibility: visible;
		z-index: 1; 
	}
	
	.flexnav li ul.open li {
		overflow: visible;
		max-height: 100px; 
	}
	
	.flexnav li ul.open ul.open {
		margin-left: 100%;
		top: 0; 
	}
		
	.menu-button {
		display: none; 
	} 
	.flexnav .touch-button {
		position: absolute;
		z-index: 999;
		top: 0;
		right: 0;
		width: 40px;
		height: 100%;
		max-height: 31px;
		display: inline-block;
		background: #acaca1;
		background: rgba(0, 0, 0, 0.05);
		text-align: center; 
		overflow: hidden;
	}
	
	aside h1 {
		display: block;
	}
}

.oldie .flexnav {
	overflow: visible;
}

.oldie .flexnav.one-page {
	top: 0;
	right: auto;
	max-width: 1080px; 
}

.oldie .flexnav li {
	position: relative;
	list-style: none;
	float: left;
	display: block;
	background-color: #a6a6a2;
	width: 20%;
	min-height: 50px;
	padding-right: 50px;
	overflow: visible; 
}

.oldie .flexnav li:hover > ul {
	display: block;
	width: 100%;
	overflow: visible; 
}

.oldie .flexnav li:hover > ul li {
	width: 100%;
	float: none; 
}

.oldie .flexnav li a {
	border-bottom: none;
	overflow: visible; 
}

.oldie .flexnav li > ul {
	background: #acaca1;
	position: absolute;
	top: auto;
	left: 0;
	display: none;
	z-index: 1;
	overflow: visible; 
}

.oldie .flexnav li ul li ul {
	top: 0; 
}

.oldie .flexnav li ul li a {
	border-bottom: none; 
}

.oldie .flexnav li ul.open {
	display: block;
	width: 100%;
	overflow: visible; 
}

.oldie .flexnav li ul.open li {
	width: 100%; 
}

.oldie .flexnav li ul.open ul.open {
	margin-left: 100%;
	top: 0;
	display: block;
	width: 100%;
	overflow: visible; 
}

.oldie .flexnav ul li:hover ul {
	margin-left: 100%;
	top: 0; 
}

.oldie .menu-button {
	display: none; 
}

.oldie.ie7 .flexnav li {
	width: 19.9%; 
}
