@charset "UTF-8";
/* CSS Document */

/*
=====================
 Navigation
=====================
*/

  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
  
.nav-collapse {
	margin-top: 0;
}

.nav-collapse {
	  position: relative;
	  display: block;
	  width: 100%;
	  float: left;
	}

.navBar {
	position: relative;
	display: block;
	width: 100%;
	float: left;
	height: 3em;
	background: #006EBC;
	margin: 1em 0 4em 0;
	font-size: 10px;
}

.nav-collapse ul {
	display: block;
	position: relative;
	float: left;
	width: 100%;
}

  .nav-collapse li {
	  display: block;
    width: 22%;
    *width: 21.9%; /* IE7 Hack */
    _width: 14%; /* IE6 Hack */
  }
  
  .nav-collapse li:first-child {
	  width: 8%;
  }
  
  .nav-collapse li:first-child+li {
	  width: 26%;
  }

  .nav-collapse a {
    margin: 0;
    padding: 1em;
    float: left;
    text-align: center;
    border-bottom: 0;
    border-left: 1px solid #0154A0;
  }
  
  .nav-collapse li:first-child a {
	  border-left: none;
  }

  .nav-collapse a:hover {
	  cursor: pointer;
  }

  .nav-collapse li ul, .nav-collapse li ul li {
	  display: block;
	  position: absolute;
	  width: 100%;
	  left: -999999px;
  }
  
  .nav-collapse li:hover ul, .nav-collapse li:hover ul li {
	  display: block;
	  position: relative;
	  width: 100%;
	  left: 0;
  }
  
    .nav-collapse ul ul {
		display: block;
		width: 100%;
		opacity: 0.95;
	}
	
	.nav-collapse a:hover {
		background: #0054A0 ;
	}
	
#k12 .k12,
#IHE .IHE,
#TA .TA,
#About .about {
	background: #0054A0;
}
	
	
	
	
	.flexnav {
		overflow: visible; 
	}
	
	.flexnav.opacity {
		opacity: 1; 
	}
	
	.flexnav.one-page {
		top: 0;
		right: auto;
		max-width: 1080px; 
	}
	
	.flexnav li {
		position: relative;
		display: block;
		list-style: none;
		float: left;
		background-color: #fff;
		overflow: visible;
		width: 100%; 
		margin: 0;
	}
	
	.flexnav li a {
		border-bottom: none; 
	}
	
	.flexnav li > ul {
		position: relative;
		display: block;
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
	.flexnav li > ul li {
		width: auto; 
	}
	
	.flexnav li ul li > ul {
		margin-left: 100%;
		top: 0; 
	}
	
	.flexnav li ul li a {
		position: relative;
		width: 80%;
		color: #777;
		padding-left: 2em;
		font-size:.9em;
	}

	.flexnav li ul.open {
		display: block;
		opacity: 1;
		visibility: visible;
		z-index: 1; 
	}
	
	.flexnav li ul.open li {
		overflow: visible;
		max-height: 100px; 
	}
	
	.flexnav li ul.open ul.open {
		margin-left: 100%;
		top: 0; 
	}
		
	.menu-button {
		display: none; 
	} 
	.flexnav .touch-button {
		position: absolute;
		z-index: 999;
		top: 0;
		right: 0;
		width: 40px;
		height: 100%;
		max-height: 31px;
		display: inline-block;
		background: #ddd;
		background: rgba(0, 0, 0, 0.05);
		text-align: center; 
		overflow: hidden;
	}
	
	aside h1 {
		display: block;
	}
	
	.flexnav li ul li a:hover {
		background: none;
		color: #85952B;
	}

/*
=====================
 body
=====================
*/

body {
  margin: 0 0 280px;  /*bottom = footer height*/ 
}

header h1 {
	height: 74px;
	width: 186px;
	margin-top: -10%;
	background-image: url(../images/REMS-Logo_ie8.png);
	background-size: 100%;
}


.eyebrowNav {
	width: auto;
	margin-bottom: -3em;
}

.eyebrowNav input {
	display: block;
	height: 16px;
}

.eyebrowNav input[value="GO"] {
	height: 20px;
}

.eyebrowNav li {
	padding: 0 1em 0;
}

.homepage {
	height: 75vh !important;
}

.homepage h1 {
	font-weight:bold;
}

/*.featureRow { 
	width: 100%;
	float: none;
}*/

.featureRow {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	padding: 2em 0;
	margin: 0 auto;
}

.feature:first-child {
	margin-left: 12%;
}

.feature {
	position: relative;
	display: block;
	float: left;
	width: 260px;
	height: 340px;
	overflow: hidden;
}

.ad {
	width: 60%;
}

.ad img {
	position: relative;
	display: block;
	margin: 2em auto;
	width: auto;
}

footer {
    position: absolute;
    height: 280px;
}

.footerLogo { 
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
}

.ipv6 {
	width: 60%;
}

.CoP img {
	width: 70%;
	margin-top: 0;
}