@charset "UTF-8";
/* CSS Document */

body { 
	font-family: Arial, Helvetica; 
	font-size: 12px; 
}

.usMap {
	position: relative; 
	display: block; 
	width:720px; 
	overflow: hidden; 
	margin: auto; 
	/*margin-top: 170px; */
	text-align: center; 
	overflow: hidden;
	padding-bottom: 20px;
}

.toolTipContainer {
	border: 1px solid #999999; 
	background: #ffffff; 
	width:auto; 
	color: #333333; 
	padding:4px; 
	margin: 4px; 
	-moz-box-shadow: 3px 3px 5px #535353;
	-webkit-box-shadow: 3px 3px 5px #535353; 
	box-shadow: 3px 3px 5px #535353; 
	-moz-border-radius: 6px 6px 6px 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px 6px 6px 6px; 
	opacity: 0.85;
}
	
.toolTipContainer h3 {
	color: #fff;
	margin-top: 0;
	margin-bottom: .5em;
	background: #849717;
	padding: 9px 6px;
	border-radius: 4px 4px 0 0; 
	text-shadow: 0px -1px 0px #333;
}
.toolTipContainer p {
	margin: 0 6px;
}
.toolTipContainer a {
	position: relative;
	display: block;
	text-indent: 40px;
	height: 40px;
	line-height: 36px;
	color: #333;
	text-decoration: none;
}

.toolTipContainer a:hover {
	color: #0154A0;
	text-decoration: underline;
}

.toolTipContainer a.sea {
	background: url(../images/icon_SEA.png) top left no-repeat;
}

.toolTipContainer a.sea:hover {
	background: url(../images/icon_SEA-over.png) top left no-repeat;
}

.toolTipContainer a.legal {
	background: url(../images/icon_legal.png) top left no-repeat;
}

.toolTipContainer a.legal:hover {
	background: url(../images/icon_legal-over.png) top left no-repeat;
}

.toolTipContainer a.assn {
	background: url(../images/icon_assn.png) top left no-repeat;
}

.toolTipContainer a.assn:hover {
	background: url(../images/icon_assn-over.png) top left no-repeat;
}

.toolTipContainer a.fema {
	background: url(../images/icon_fema.png) top left no-repeat;
}

.toolTipContainer a.fema:hover {
	background: url(../images/icon_fema-over.png) top left no-repeat;
}

.toolTipContainer a.ed {
	background: url(../images/icon_ed.png) top left no-repeat;
}

.toolTipContainer a.ed:hover {
	background: url(../images/icon_ed-over.png) top left no-repeat;
}