@charset "UTF-8";
/* CSS Document */

#newsRotator {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

#newsRotator li h1, #newsRotator li h2, #newsRotator li h3 {
	font-family: Helvetica,Arial,sans-serif;
	font-size: .85em;
	line-height: 1.3em;
	font-weight: bold;
	font-style: normal;	
	margin: 0 auto;
	margin-bottom: .5em;
	padding: 0;
	width: 80%;
	text-align: left;
}
#newsRotator ul {
  position: relative;
  display: table;
  float: left;
  margin: 10px auto;
  padding: 0;
  /*height: 100%;*/
  list-style: none;
}

#newsRotator ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 230px;
  height: 280px;
  text-align: center;
  font-size: 1.25em;
}

#newsRotator ul li p {
	position: relative;
	display: block;
	width: 80%;
	padding: 2%;
	padding-top: 0;
	margin: .5em auto;
	text-align: left;
}
#newsRotator ul li img {
	position: relative;
	display: block;
	float: left;
	margin: 0 auto;
	margin-bottom: 1em;
	width: 99%;	
	border: 1px solid #ccc;
}

a.control_prev, a.control_next {
  position: absolute;
  bottom: 10%;
  z-index: 999;
  display: block;
  padding: 4% 0;
  width: 10px;
  height: 20px;
  background: ;
  color: #2a2a2a;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  color: #0154A0;
  -webkit-transition: all 0.8s ease-in-out;
}

a.control_prev {
	left: 2%;
  background: url(../Images/rev.png) top left no-repeat;
}
a.control_prev:hover {
  background: url(../Images/rev-over.png) top left no-repeat;
}

a.control_next {
  right: 3%;
  background: url(../Images/fwd.png) top left no-repeat;
}
a.control_next:hover {
  background: url(../Images/fwd-over.png) top left no-repeat;
}

.slider_option {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 375px) {#newsRotator ul li {width: 260px; height: 280px;}}

@media screen and (min-width: 400px) {#newsRotator ul li {width: 290px;height: 300px;}}

@media screen and (min-width: 480px) {#newsRotator ul li {width: 350px;height: 320px;}}

@media screen and (min-width: 560px) {#newsRotator ul li {width: 410px;height: 360px;}}

@media screen and (min-width: 640px) {#newsRotator ul li {width: 476px;height: 400px;}}

@media screen and (min-width: 740px) {#newsRotator ul li {width: 570px;height: 460px;}}

@media screen and (min-width: 800px) {#newsRotator ul li {width: 600px;height: 480px;}}

@media screen and (min-width: 940px) and (max-width: 1057px) {

.feature:nth-child(3) {
	width: 550px;
	height: 420px;
	margin-top: 1em;
}

#newsRotator ul li {
  width: 510px !important;
    height: 450px;
}

}

@media screen and (min-width: 1058px) {

#newsRotator ul li {
	width: 240px;
    height: 340px;
}

}