@charset "UTF-8";
/* CSS Document */

#newsRotator {
  position: relative;
  overflow: hidden;
  margin: 20px auto;
  border-radius: 4px;
}

#newsRotator li h1, #newsRotator li h2, #newsRotator li h3 {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 1em;
	line-height: 1.3em;
	font-weight: bold;
	font-style: normal;	
	margin: .5em auto 1em;
	padding-top: 0;
	width: 90%;
	text-align: left;
}
#newsRotator ul {
  position: relative;
  display: table;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

#newsRotator ul li {
  position: relative;
  display: table;
  float: left;
  margin: 0;
  padding: 0 !important;
  width: 215px;
  height: 250px;
  text-align: center;
}

#newsRotator ul li p {
	position: relative;
	display: block;
	width: 86%;
	padding: 2%;
	padding-top: 0;
	margin: .5em auto;
	text-align: left;
}
#newsRotator ul li img {
	position: relative;
	display: block;
	margin: .8em auto;
	margin-bottom: 0;
	width: 95%;	
}

a.control_prev, a.control_next {
  position: absolute;
  top: 86%;
  z-index: 999;
  display: block;
  padding: 4% 0;
  width: 10px;
  height: 20px;
  background: ;
  color: #2a2a2a;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  color: #0154A0;
  -webkit-transition: all 0.8s ease-in-out;
}

a.control_prev {
  background: url(../Images/rev.png) top left no-repeat;
}
a.control_prev:hover {
  background: url(../Images/rev-over.png) top left no-repeat;
}

a.control_next {
  right: 2%;
  background: url(../Images/fwd.png) top left no-repeat;
}
a.control_next:hover {
  background: url(../Images/fwd-over.png) top left no-repeat;
}

.slider_option {
  display: none;
  visibility: hidden;
}